{% extends 'site/layouts/main.html' %}

{% load static from staticfiles %}

{% block title %}
    Digital Library | Homepage
{% endblock %}

{% block content %}

    <!-- Popular book -->

    <div class="popular_book" id="destinations">
        <div class="row">
            <div class="col text-center">
                <div class="section_subtitle">simply most hiring books</div>
                <div class="section_title"><h2>Popular Books</h2></div>
            </div>
        </div>
        <div class="row books_row">
            <div class="col">
                <div id="popular_book_list" class="row books_container item_grid col-md-12">
                </div>
            </div>
        </div>
    </div>

    <!-- recommendation book -->

    <div class="popular_book" id="destinations">
        <div class="row">
            <div class="col text-center">
                <div class="section_subtitle">based on your loans</div>
                <div class="section_title"><h2>Recommendation Books For You</h2></div>
            </div>
        </div>
        <div class="row books_row">
            <div class="col">
                <div id="recommendation_book_list" class="row books_container item_grid col-md-12">
                </div>
            </div>
        </div>
    </div>

    <!-- content-based recommendation book -->

    <div class="popular_book" id="destinations">
        <div class="row">
            <div class="col text-center">
                <div class="section_subtitle">based on your loans</div>
                <div class="section_title"><h2>Content-based Recommendation Books For You</h2></div>
            </div>
        </div>
        <div class="row books_row">
            <div class="col">
                <div id="cb_recommendation_book_list" class="row books_container item_grid col-md-12">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    <script>
        function get_book_item(id, title, year, author, publisher) {
            html = "<div class=\"book item col-md-3\">\n" +
                "                        <div class=\" book_image\">\n" +
                "                            <img src=\"/static/images/logo-IU.jpg\" alt=\"\">\n" +
                "                        </div>\n" +
                "                        <div class=\" book_content\">\n" +
                "                            <div class=\"book_title\">\n" +
                "                                <a href='/book/detail/" + id + "'>" + title +
                "                                </a>\n" +
                "                            </div>\n" +
                "                            <div class=\"book_publisher\">\n" +
                "                                <a href=\"#\">" + year + "</a> -\n" +
                "                                <a href=\"#\">" + publisher + "</a>\n" +
                "                            </div>\n" +
                "                            <div class=\"book_author\">\n" +
                "                                <a href=\"#\">" + author + "</a> -\n" +
                "                            </div>\n" +
                "                        </div>\n" +
                "                    </div>";
            return html;
        }

        $(document).ready(function () {
            $.ajax({
                url: "{% url 'get_popular_book' %}",
                type: "GET",
                datatype: "json",
                beforeSend: function () {
                    $('#popular_book_list div').remove();
                },
                success: function (response) {
                    if (response.status === 200) {
                        var popular_book_list = JSON.parse(response.data.popular_book_list);
                        console.log(popular_book_list);
                        popular_book_list.forEach(function (element) {
                            $('#popular_book_list').append(get_book_item(element.id, element.name, element.year,
                                element.author, element.publisher));
                        });
                    } else {
                    }
                }
            });
            $.ajax({
                url: "{% url 'get_recommendation_cf' %}",
                type: "GET",
                datatype: "json",
                beforeSend: function () {
                    $('#recommendation_book_list div').remove();
                },
                success: function (response) {
                    if (response.status === 200) {
                        var book_list = JSON.parse(response.data.book_list);
                        console.log(book_list);
                        book_list.forEach(function (element) {
                            $('#recommendation_book_list').append(get_book_item(element.id, element.name, element.year,
                                element.author, element.publisher));
                        });
                    } else {
                    }
                }
            });
            $.ajax({
                url: "{% url 'get_recommendation_cb' %}",
                type: "GET",
                datatype: "json",
                beforeSend: function () {
                    $('#cb_recommendation_book_list div').remove();
                },
                success: function (response) {
                    if (response.status === 200) {
                        var book_list = JSON.parse(response.data.book_list);
                        console.log(book_list);
                        book_list.forEach(function (element) {
                            $('#cb_recommendation_book_list').append(get_book_item(element.id, element.name, element.year,
                                element.author, element.publisher));
                        });
                    } else {
                    }
                }
            });
        });
    </script>
{% endblock %}
