{% extends 'site/layouts/main.html' %}

{% load static from staticfiles %}

{% block title %}
    Digital Library | Homepage
{% endblock %}

{% block content %}

    <!-- Popular book -->

    <div class="component" id="destinations">
        <div class="row">
            <div class="col text-center">
                <div class="section_subtitle">simply most hiring books</div>
                <div class="section_title"><h2>Popular Books</h2></div>
            </div>
        </div>
        <div class="row books_row">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-dark" role="status"
                         id="popular_book_load">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div id="popular_book_list"
                     class="owl-carousel owl-theme search_result">
                </div>
            </div>
        </div>
    </div>

    <!-- recommendation book -->

    <div class="component" id="destinations">
        <div class="row">
            <div class="col text-center">
                <div class="section_subtitle">based on your loans</div>
                <div class="section_title"><h2>Recommendation Books For You</h2></div>
            </div>
        </div>
        <div class="row books_row">
            <div class="col">
                {% if user.is_authenticated %}
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-dark" role="status"
                             id="recommendation_book_load">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                {% endif %}
                <div id="recommendation_book_list"
                     class="owl-carousel owl-theme search_result">
                </div>
            </div>
        </div>
    </div>

    <!-- hybrid recommendation book -->

    <div class="component" id="destinations">
        <div class="row">
            <div class="col text-center">
                <div class="section_subtitle">based on your loans</div>
                <div class="section_title"><h2>Hybrid Recommendation Books For You</h2></div>
            </div>
        </div>
        <div class="row books_row">
            <div class="col">
                {% if user.is_authenticated %}
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-dark" role="status"
                             id="hybrid_recommendation_book_load">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                {% endif %}
                <div id="hybrid_recommendation_book_list"
                     class="owl-carousel owl-theme search_result">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "{% url 'get_popular_book' %}",
                type: "GET",
                datatype: "json",
                beforeSend: function () {
                    $('#popular_book_list div').remove();
                    $('#popular_book_load').attr('style', '');
                },
                success: function (response) {
                    if (response.status === 200) {
                        var popular_book_list = JSON.parse(response.data.popular_book_list);
                        console.log(popular_book_list);
                        popular_book_list.forEach(function (element) {
                            $('#popular_book_list').append(get_book_item(element.id, element.name, element.year,
                                element.author, element.publisher));
                        });
                        var owl = $('#popular_book_list');
                        owl.owlCarousel({
                            loop: true,
                            margin: 10,
                            responsiveClass: true,
                            responsive: {
                                0: {
                                    items: 1,
                                    nav: false
                                },
                                600: {
                                    items: 2,
                                    nav: false
                                },
                                1000: {
                                    items: 4,
                                    nav: false,
                                    loop: false,
                                    margin: 20
                                }
                            }
                        });
                        $('#popular_book_load').attr('style', 'display: none !important');
                    } else {
                    }
                }
            });
            {% if user.is_authenticated %}
                $.ajax({
                    url: "{% url 'get_recommendation_cf' %}",
                    type: "GET",
                    datatype: "json",
                    beforeSend: function () {
                        $('#recommendation_book_list div').remove();
                        $('#recommendation_book_load').attr('style', '');
                    },
                    success: function (response) {
                        if (response.status === 200) {
                            var book_list = JSON.parse(response.data.book_list);
                            console.log(book_list);
                            book_list.forEach(function (element) {
                                $('#recommendation_book_list').append(get_book_item(element.id, element.name, element.year,
                                    element.author, element.publisher));
                            });
                            var owl = $('#recommendation_book_list');
                            owl.owlCarousel({
                                loop: true,
                                margin: 10,
                                responsiveClass: true,
                                nav: false,
                                responsive: {
                                    0: {
                                        items: 1,
                                    },
                                    600: {
                                        items: 2,
                                    },
                                    1000: {
                                        items: 4,
                                        loop: false,
                                        margin: 20
                                    }
                                }
                            });
                            $('#recommendation_book_load').attr('style', 'display: none !important');
                        } else {
                        }
                    }
                });
                $.ajax({
                    url: "{% url 'get_recommendation_hybrid' %}",
                    type: "GET",
                    datatype: "json",
                    beforeSend: function () {
                        $('#hybrid_recommendation_book_list div').remove();
                        $('#hybrid_recommendation_book_load').attr('style', '');
                    },
                    success: function (response) {
                        if (response.status === 200) {
                            var book_list = JSON.parse(response.data.book_list);
                            console.log(book_list);
                            book_list.forEach(function (element) {
                                $('#hybrid_recommendation_book_list').append(get_book_item(element.id, element.name, element.year,
                                    element.author, element.publisher));
                            });
                            var owl = $('#hybrid_recommendation_book_list');
                            owl.owlCarousel({
                                loop: true,
                                margin: 10,
                                responsiveClass: true,
                                nav: false,
                                responsive: {
                                    0: {
                                        items: 1,
                                    },
                                    600: {
                                        items: 2,
                                    },
                                    1000: {
                                        items: 4,
                                        loop: false,
                                        margin: 20
                                    }
                                }
                            });
                            $('#hybrid_recommendation_book_load').attr('style', 'display: none !important');
                        } else {
                        }
                    }
                });
            {% endif %}
        });
    </script>
{% endblock %}
