{% extends 'site/layouts/main.html' %}

{% load static from staticfiles %}
{% load helps %}

{% block title %}
    Search Book {{ search_term }}
{% endblock %}

{% block content %}
    <div class="books" id="books">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    {#                    <div class="section_subtitle">simply amazing places</div>#}
                    <div class="section_title">
                        <h2>
                            {% if search_option == '1' %}
                                Google search {{ search_option }}
                            {% else %}
                                Search Result {{ search_option }}
                            {% endif %}
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row book_sorting_row">
                <div class="col">
                    <div class="book_sorting d-flex flex-row align-items-start justify-content-start">
                        <div class="sorting">
                            <ul class="item_sorting">
                                <li>
                                    <span class="sorting_text">Sort By</span>
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    <ul>
                                        <li class="product_sorting_btn"
                                            data-isotope-option='{ "sortBy": "original-order" }'><span>Show All</span>
                                        </li>
                                        <li class="product_sorting_btn" data-isotope-option='{ "sortBy": "price" }'>
                                            <span>Price</span></li>
                                        <li class="product_sorting_btn" data-isotope-option='{ "sortBy": "name" }'>
                                            <span>Name</span></li>
                                    </ul>
                                </li>
                                <li>
                                    <span class="sorting_text">Categories</span>
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    <ul>
                                        <li class="num_sorting_btn"><span>Category</span></li>
                                        <li class="num_sorting_btn"><span>Category</span></li>
                                        <li class="num_sorting_btn"><span>Category</span></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="sort_box ml-auto"><i class="fa fa-th" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
            <div class="row books_row">
                <div class="col">
                    <div class="row books_container item_grid col-md-12">
                        {% for item in items %}
                            <!-- Destination -->
                            <div class="book item col-md-3">
                                <div class=" book_image">
                                    <img src="{{ item | get_image_book_google }}&h=261"
                                         alt="{{ item | get_title_book_google }}">
                                </div>
                                <div class=" book_content">
                                    <div class="book_title">
                                        <a href="#">{{ item | get_title_book_google }}</a>
                                    </div>
                                    <div class="book_author">
                                        <a href="#">{{ item | get_author_book_google }}</a> -
                                        <a href="#">{{ item | get_year_book_google }}</a>
                                    </div>
                                    <div class="book_subtitle">
                                        <p>{{ item | get_des_book_google }}</p>
                                    </div>
                                    {#                                    <div class="book_price">From $679</div>#}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Pagination -->
            {{ request | get_pagination:10 | safe }}
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
