<ul class="nav nav-tabs">
    <li class="active"><a href="#tab-general" data-toggle="tab">General</a></li>
    <li><a href="#tab-data" data-toggle="tab">Data</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="tab-general">
        <div class="tab-content">
            <div class="col-sm-12 col-md-12">
                <div class="form-group required">
                    <label class="col-sm-2 control-label" for="name">
                        Publisher Name</label>
                    <div class="col-sm-10">
                        <input type="text" name="name" value="" id="name"
                               class="form-control">
                        <div class="col-sm-offset-2 col-sm-10">
                            <span class="text-danger small"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-sm-12 col-md-4">
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="faculty">
                            Faculty</label>
                        <div class="col-sm-10">
                            <input type="text" name="faculty"
                                   value="" id="faculty"
                                   class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="location">
                            Location</label>
                        <div class="col-sm-10">
                            <input type="text" name="location"
                                   value="" id="location"
                                   class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="year">
                            Year</label>
                        <div class="col-sm-10">
                            <input type="text" name="year"
                                   value="" id="year"
                                   class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-sm-12 col-md-4">
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="isbn">
                            ISBN</label>
                        <div class="col-sm-10">
                            <input type="text" name="isbn"
                                   value="" id="isbn"
                                   class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="week_price">
                            Week Price</label>
                        <div class="col-sm-10">
                            <input type="text" name="week_price"
                                   value="" id="week_price"
                                   class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="sem_price">
                            Semester Price</label>
                        <div class="col-sm-10">
                            <input type="text" name="sem_price"
                                   value="" id="sem_price"
                                   class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-sm-12 col-md-4">
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="status">
                            Status</label>
                        <div class="col-sm-10">
                            <input type="text" name="status"
                                   value="" id="status"
                                   class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="ori_quantity">
                            Original Quantity</label>
                        <div class="col-sm-10">
                            <input type="text" name="ori_quantity"
                                   value="" id="ori_quantity"
                                   class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">

            </div>
            <div class="col-md-12">
                <div class="form-group pull-right">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="tab-data">
        <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-model">Model</label>
            <div class="col-sm-10">
                <input type="text" name="model" value="" placeholder="Model"
                       id="input-model" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-sku"><span
                    data-toggle="tooltip" title="" data-original-title="Stock Keeping Unit">SKU</span></label>
            <div class="col-sm-10">
                <input type="text" name="sku" value="" placeholder="SKU" id="input-sku"
                       class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-upc"><span
                    data-toggle="tooltip" title=""
                    data-original-title="Universal Product Code">UPC</span></label>
            <div class="col-sm-10">
                <input type="text" name="upc" value="" placeholder="UPC" id="input-upc"
                       class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-ean"><span
                    data-toggle="tooltip" title=""
                    data-original-title="European Article Number">EAN</span></label>
            <div class="col-sm-10">
                <input type="text" name="ean" value="" placeholder="EAN" id="input-ean"
                       class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-jan"><span
                    data-toggle="tooltip" title=""
                    data-original-title="Japanese Article Number">JAN</span></label>
            <div class="col-sm-10">
                <input type="text" name="jan" value="" placeholder="JAN" id="input-jan"
                       class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-isbn"><span
                    data-toggle="tooltip" title=""
                    data-original-title="International Standard Book Number">ISBN</span></label>
            <div class="col-sm-10">
                <input type="text" name="isbn" value="" placeholder="ISBN" id="input-isbn"
                       class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-mpn"><span
                    data-toggle="tooltip" title=""
                    data-original-title="Manufacturer Part Number">MPN</span></label>
            <div class="col-sm-10">
                <input type="text" name="mpn" value="" placeholder="MPN" id="input-mpn"
                       class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-location">Location</label>
            <div class="col-sm-10">
                <input type="text" name="location" value="" placeholder="Location"
                       id="input-location" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-price">Price</label>
            <div class="col-sm-10">
                <input type="text" name="price" value="" placeholder="Price"
                       id="input-price" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-tax-class">Tax Class</label>
            <div class="col-sm-10">
                <select name="tax_class_id" id="input-tax-class" class="form-control">
                    <option value="0"> --- None ---</option>
                    <option value="9">Taxable Goods</option>
                    <option value="10">Downloadable Products</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-quantity">Quantity</label>
            <div class="col-sm-10">
                <input type="text" name="quantity" value="1" placeholder="Quantity"
                       id="input-quantity" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-minimum"><span
                    data-toggle="tooltip" title=""
                    data-original-title="Force a minimum ordered amount">Minimum Quantity</span></label>
            <div class="col-sm-10">
                <input type="text" name="minimum" value="1" placeholder="Minimum Quantity"
                       id="input-minimum" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-subtract">Subtract
                Stock</label>
            <div class="col-sm-10">
                <select name="subtract" id="input-subtract" class="form-control">
                    <option value="1" selected="selected">Yes</option>
                    <option value="0">No</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-stock-status"><span
                    data-toggle="tooltip" title=""
                    data-original-title="Status shown when a product is out of stock">Out Of Stock Status</span></label>
            <div class="col-sm-10">
                <select name="stock_status_id" id="input-stock-status" class="form-control">
                    <option value="6">2-3 Days</option>
                    <option value="7">In Stock</option>
                    <option value="5">Out Of Stock</option>
                    <option value="8">Pre-Order</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Requires Shipping</label>
            <div class="col-sm-10">
                <label class="radio-inline"> <input type="radio" name="shipping" value="1"
                                                    checked="checked">
                    Yes
                </label>
                <label class="radio-inline"> <input type="radio" name="shipping" value="0">
                    No
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-date-available">Date
                Available</label>
            <div class="col-sm-3">
                <div class="input-group date">
                    <input type="text" name="date_available" value="2018-11-17"
                           placeholder="Date Available" data-date-format="YYYY-MM-DD"
                           id="input-date-available" class="form-control">
                    <span class="input-group-btn">
<button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
</span></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-length">Dimensions (L x W x
                H)</label>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-4">
                        <input type="text" name="length" value="" placeholder="Length"
                               id="input-length" class="form-control">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="width" value="" placeholder="Width"
                               id="input-width" class="form-control">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="height" value="" placeholder="Height"
                               id="input-height" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-length-class">Length
                Class</label>
            <div class="col-sm-10">
                <select name="length_class_id" id="input-length-class" class="form-control">
                    <option value="1" selected="selected">Centimeter</option>
                    <option value="2">Millimeter</option>
                    <option value="3">Inch</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-weight">Weight</label>
            <div class="col-sm-10">
                <input type="text" name="weight" value="" placeholder="Weight"
                       id="input-weight" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-weight-class">Weight
                Class</label>
            <div class="col-sm-10">
                <select name="weight_class_id" id="input-weight-class" class="form-control">
                    <option value="1" selected="selected">Kilogram</option>
                    <option value="2">Gram</option>
                    <option value="5">Pound</option>
                    <option value="6">Ounce</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">Status</label>
            <div class="col-sm-10">
                <select name="status" id="input-status" class="form-control">
                    <option value="1" selected="selected">Enabled</option>
                    <option value="0">Disabled</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-sort-order">Sort Order</label>
            <div class="col-sm-10">
                <input type="text" name="sort_order" value="1" placeholder="Sort Order"
                       id="input-sort-order" class="form-control">
            </div>
        </div>
    </div>
</div>