{% extends 'admin/layouts/main.html' %}

{% load static from staticfiles %}

{% block header %}

    <!-- bootstrap-plugin datepicker -->
    <link rel="stylesheet"
          href="{% static 'bower_components/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}">

{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Transaction
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'dashboard' %}">
                    <i class="fa fa-dashboard"></i> Dashboard
                </a>
            </li>
            <li>
                <a href="{% url 'transaction:transaction' %}">
                    <i class="fa fa-dashboard"></i> Transaction
                </a>
            </li>
            <li>
                <a href="{% url 'transaction:transaction.create' %}">
                    <i class="fa fa-dashboard"></i> Add Transaction
                </a>
            </li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-pencil"></i> Add Transaction</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                        </button>
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <form action="" method="post" enctype="multipart/form-data" id="form-product"
                              class="form-horizontal">
                            {% csrf_token %}
                            {% include 'admin/transaction/form.html' %}
                        </form>
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
    </section>
    <!-- /.content -->
{% endblock %}

{% block footer %}
    <script src="{% static 'bower_components/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript">
        var transaction_row = 0;

        function addTranssaction() {
            html = '<tr id="transaction-row' + transaction_row + '">';
            html += '<td class="text-center">\n' +
                '                        <input type="text" name="barcode[]" value=""\n' +
                '                               placeholder="Barcode" class="form-control barcode" required>\n' +
                '                        <div class="help-block"></div>\n' +
                '                    </td>';
            html += '<td class="text-center">\n' +
                '                        <input type="text" name="title[]" value=""\n' +
                '                               placeholder="" class="form-control title" disabled>\n' +
                '                        <div class="help-block"></div>\n' +
                '                    </td>';
            html += ' <td class="text-center">\n' +
                '                        <input type="text" name="author[]" value=""\n' +
                '                               placeholder="" class="form-control author" disabled>\n' +
                '                        <div class="help-block"></div>\n' +
                '                    </td>';
            html += '<td class="text-center">\n' +
                '                        <select name="hire_type[]" class="form-control hire_type" required>\n' +
                '                            <option value="1">Week</option>\n' +
                '                            <option value="2">Semester</option>\n' +
                '                            <option value="3">Staff</option>\n' +
                '                        </select>\n' +
                '                        <div class="help-block"></div>\n' +
                '                    </td>';
            html += '<td class="text-right">\n' +
                '                        <input type="text" name="price[]" value=""\n' +
                '                               placeholder="Price" class="form-control price text-right" required readonly>\n' +
                '                        <div class="help-block"></div>\n' +
                '                    </td>';
            html += '<td class="text-center">\n' +
                '                        <select name="book_status[]" class="form-control book_status" required disabled>\n' +
                '                            <option value="0">Deactivate</option>\n' +
                '                            <option value="1">Available</option>\n' +
                '                            <option value="2">Pending</option>\n' +
                '                            <option value="3">Hired</option>\n' +
                '                            <option value="4">Lost</option>\n' +
                '                            <option value="5">Maintained</option>\n' +
                '                        </select>\n' +
                '                        <div class="help-block"></div>\n' +
                '                    </td>';
            html += '<td class="text-left">\n' +
                '                        <div class="input-group date">\n' +
                '                            <div class="input-group-addon">\n' +
                '                                <i class="fa fa-calendar"></i>\n' +
                '                            </div>\n' +
                '                            <input type="text"\n' +
                '                                   class="form-control pull-right datepicker due_date"\n' +
                '                                   name="due_date[]"\n' +
                '                                   id="due_date[]">\n' +
                '                        </div>\n' +
                '                        <div class="help-block"></div>\n' +
                '                    </td>';
            html += '<td class="text-left">\n' +
                '                        <button type="button" onclick="$(\'#transaction-row' + transaction_row + '\').remove();" data-toggle="tooltip"\n' +
                '                                title="Remove" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button>\n' +
                '                    </td>';
            html += '</tr>';

            $('#transaction tbody').append(html);


            $('.datepicker').datetimepicker({
                format: "YYYY-MM-DD HH:MM:SS",
            });

            $(".barcode").change(function () {
                var barcode = $(this).val();
                var dataid = $(this).attr('data-id');
                elementBarcodeInput = $(this).parent();
                elementRow = $(this).parent().parent();
                var hire_type = elementRow.find('.hire_type').val();
                elementBarcodeInput.find('.help-block').html('');
                elementRow.find('.title').val('');
                elementRow.find('.author').val('');
                elementRow.find('.book_status').val('');
                elementRow.find('.price').val('');
                var currentdate = new Date();
                console.log(currentdate);
                console.log(currentdate.getDate() + 15);
                if (barcode !== null) {
                    $.getJSON('/book/api/' + barcode, function (result) {
                        if (result.status == '200') {
                            console.log(result.data);
                            elementBarcodeInput.find('.help-block').html('');
                            elementRow.find('.title').val(result.data.title);
                            elementRow.find('.author').val(result.data.author);
                            elementRow.find('.book_status').val(result.data.book_status);
                            if (hire_type == '1') {
                                elementRow.find('.price').val(result.data.week_price);
                                elementRow.find('.due_date').val(result.data.due_date_week);
                            } else if (hire_type == '2') {
                                elementRow.find('.price').val(result.data.sem_price);
                                elementRow.find('.due_date').val(result.data.due_date_sem);
                            } else {
                                elementRow.find('.price').val(0);
                                elementRow.find('.due_date').val(result.data.due_date_staff);
                            }
                        } else {
                            elementBarcodeInput.find('.help-block').html(result.message);
                        }
                    });
                }
            });
            $(".hire_type").change(function () {
                var hire_type = $(this).val();
                var dataid = $(this).attr('data-id');
                elementBarcodeInput = $(this).parent();
                elementRow = $(this).parent().parent();
                var barcode = elementRow.find('.barcode').val();
                if (barcode !== '') {
                    $.getJSON('/book/api/' + barcode, function (result) {
                        if (result.status == '200') {
                            console.log(result.data);
                            elementBarcodeInput.find('.help-block').html('');
                            elementRow.find('.title').val(result.data.title);
                            elementRow.find('.author').val(result.data.author);
                            elementRow.find('.book_status').val(result.data.book_status);
                            if (hire_type == '1') {
                                elementRow.find('.price').val(result.data.week_price);
                                elementRow.find('.due_date').val(result.data.due_date_week);
                            } else if (hire_type == '2') {
                                elementRow.find('.price').val(result.data.sem_price);
                                elementRow.find('.due_date').val(result.data.due_date_sem);
                            } else {
                                elementRow.find('.price').val(0);
                                elementRow.find('.due_date').val(result.data.due_date_staff);
                            }
                        } else {
                            elementBarcodeInput.find('.help-block').html(result.message);
                            elementRow.find('.title').val('');
                            elementRow.find('.author').val('');
                            elementRow.find('.book_status').val('');
                            elementRow.find('.price').val('');
                        }
                    });
                }
            });

            transaction_row++;
        }

        $(function () {
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
            $('.datepicker').datetimepicker({
                format: "YYYY-MM-DD HH:MM:SS",
                defaultDate: new Date(),
            });
            $("#username").change(function () {
                var username = $(this).val();
                element = $(this).parent();
                $.getJSON('/user/api/' + username, function (result) {
                    if (result.status == '404') {
                        element.addClass('has-error');
                        element.find('.help-block').html('Can not find this username');
                    } else {
                        element.removeClass('has-error');
                        element.find('.help-block').html('');
                        $('#firstname').val(result.data.first_name);
                        $('#lastname').val(result.data.last_name);
                    }
                });
            });
        });
    </script>
{% endblock %}