{% extends 'site/layouts/main.html' %}

{% load static from staticfiles %}
{% load helps %}

{% block title %}
    Book Detail | {{ detail.name }}
{% endblock %}

{% block content %}
    <div class="component" id="detail_book">
        <div class="row">
            <div class="col text-center">
                <div class="section_subtitle">Detail book</div>
                <div class="section_title"><h4>{{ detail.name }}</h4></div>
                <div class="book one_item" style="width: 100%;margin-bottom: 0px;">
                    <div class=" book_content">
                        <div class="book_publisher" style="text-align: center">
                            <a href="#">{{ detail.year }}</a> -
                            <a href="#">{{ detail.publisher }}</a>
                        </div>
                        <div class="book_author">
                            <a href="#">{{ detail.author }}</a>
                        </div>
                    </div>
                    <div class=" book_image">
                        <img src="
                        {% if detail.image %}
                        {{ detail.image }}
                        {% else %}
                        /static/images/logo-IU.jpg
                        {% endif %}" alt="{{ detail.name }}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row books_row">
            <div class="col">
            </div>
        </div>
    </div>
    <div class="component" id="destinations">
        <div class="row">
            <div class="col text-center">
                <div class="section_subtitle">based on your loans</div>
                <div class="section_title"><h2>Content-based Recommendation Books For You</h2></div>
            </div>
        </div>
        <div class="row books_row">
            <div class="col">
                {% if user.is_authenticated %}
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-dark" role="status"
                             id="cb_recommendation_book_load">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                {% endif %}
                <div id="cb_recommendation_book_list"
                     class="owl-carousel owl-theme search_result">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script>
        $.ajax({
            url: "{% url 'get_recommendation_cb' %}",
            type: "GET",
            datatype: "json",
            "data": {
                'title_id': {{ title_id }},
            },
            beforeSend: function () {
                $('#cb_recommendation_book_list div').remove();
            },
            success: function (response) {
                if (response.status === 200) {
                    var book_list = JSON.parse(response.data.book_list);
                    book_list.forEach(function (element) {
                        $('#cb_recommendation_book_list').append(get_book_item(element.id, element.name, element.year,
                            element.author, element.publisher, element.image));
                    });
                    var owl = $('#cb_recommendation_book_list');
                    owl.owlCarousel({
                        loop: true,
                        margin: 10,
                        responsiveClass: true,
                        responsive: {
                            0: {
                                items: 1,
                                nav: false
                            },
                            600: {
                                items: 2,
                                nav: false
                            },
                            1000: {
                                items: 4,
                                nav: false,
                                loop: false,
                                margin: 20
                            }
                        }
                    });
                    $('#cb_recommendation_book_load').attr('style', 'display: none !important');
                } else {
                }
            }
        });
    </script>

{% endblock %}
