{% load static from staticfiles %}
{% load helps %}

<div class="menu">
    <div class="menu_header d-flex flex-row align-items-center justify-content-start">
        <div class="menu_logo">
            <a href="{% url 'homepage' %}">Digital Library</a>
        </div>
        <div class="menu_close_container ml-auto">
            <div class="menu_close">
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="menu_content">
        <ul>
            <li class="{% if request.path == '/' %}active{% endif %}">
                <a href="{% url 'homepage' %}">Home</a>
            </li>
            {% if user.is_authenticated and request.user|has_group:"Staff" or request.user|has_group:"Part-time" %}
                <li>
                    <a href="{% url 'dashboard' %}">Dashboard
                    </a>
                </li>
            {% endif %}
            {% if not user.is_authenticated %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% else %}
                <li style="margin-top: 20px;">
                    <a href="{% url 'profile' %}">
                        <span class="text-uppercase bold">{{ user.get_username }}</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
            {% endif %}

            {#            <li><a href="about.html">About us</a></li>#}
            {#            <li><a href="#">Services</a></li>#}
            {#            <li><a href="news.html">News</a></li>#}
            {#            <li><a href="contact.html">Contact</a></li>#}
        </ul>
    </div>
</div>