{% extends 'layout/admin/main.html' %}

{% load static from staticfiles %}
{% load helps %}

{% block header %}
    <!-- bootstrap-plugin datepicker -->
    <link rel="stylesheet"
          href="{% static 'bower_components/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}">
{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Transaction
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'dashboard' %}">
                    <i class="fa fa-dashboard"></i> Dashboard
                </a>
            </li>
            <li>
                <a href="{% url 'transaction:transaction' %}">
                    <i class="fa fa-dashboard"></i> Transaction
                </a>
            </li>
            <li>
                <a href="{% url 'transaction:transaction.create' %}">
                    <i class="fa fa-dashboard"></i> Add Transaction
                </a>
            </li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-pencil"></i> Add Transaction</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                        </button>
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <form action="" method="post" enctype="multipart/form-data" id="form-product"
                              class="form-horizontal">
                            {% csrf_token %}
                            {% include 'transaction/form.html' %}
                        </form>
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
    </section>
    <!-- /.content -->
{% endblock %}

{% block footer %}
    <script src="{% static 'bower_components/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript">
        let transactionSession = {{ transaction|safe}};
        let transaction_row = Object.keys(transactionSession.detail).length;

        function run_ajax_get_info_book(num, barcode, hire_type, elementRow, elementBarcodeInput, save_session = false) {
            $.ajax({
                "type": "GET",
                "dataType": "json",
                "url": '/book/api/' + barcode,
                "data": {},
                "success": function (result) {
                    if (result.status === 200) {
                        elementBarcodeInput.find('.help-block').html('');
                        elementRow.find('.title').val(result.data.title);
                        elementRow.find('.author').val(result.data.author);
                        elementRow.find('.book_status').val(result.data.book_status);
                        if (hire_type === '1') {
                            elementRow.find('.price').val(result.data.week_price);
                            elementRow.find('.due_date').val(result.data.due_date_week);
                        } else if (hire_type === '2') {
                            elementRow.find('.price').val(result.data.sem_price);
                            elementRow.find('.due_date').val(result.data.due_date_sem);
                        } else {
                            elementRow.find('.price').val(0);
                            elementRow.find('.due_date').val(result.data.due_date_staff);
                        }
                        if (save_session) {
                            transactionSession['detail'][barcode] = hire_type;
                            $.ajax({
                                "type": "POST",
                                "dataType": "json",
                                "url": '{% url 'session.create_json' %}',
                                "data": {
                                    'SessionInput': JSON.stringify([{
                                        "key": "transaction",
                                        "value": transactionSession
                                    }]),
                                },
                                "beforeSend": function (xhr, settings) {
                                    $.ajaxSettings.beforeSend(xhr, settings);
                                },
                                "success": function (result) {
                                }
                            });
                        }
                    } else {
                        elementBarcodeInput.find('.help-block').html(result.message);
                        elementRow.find('.title').val('');
                        elementRow.find('.author').val('');
                        elementRow.find('.book_status').val('');
                        elementRow.find('.price').val('');
                    }
                }
            });
        }

        function add_transaction() {
            html = '<tr id="transaction-row' + transaction_row + '">';
            html += '<td class="text-center">\n' +
                '                        <input type="text" name="barcode[]" value=""\n' +
                '                               placeholder="Barcode" class="form-control barcode" required>\n' +
                '                        <div class="help-block"></div>\n' +
                '                    </td>';
            html += '<td class="text-center">\n' +
                '                        <input type="text" name="title[]" value=""\n' +
                '                               placeholder="" class="form-control title" readonly>\n' +
                '                        <div class="help-block"></div>\n' +
                '                    </td>';
            html += ' <td class="text-center">\n' +
                '                        <input type="text" name="author[]" value=""\n' +
                '                               placeholder="" class="form-control author" readonly>\n' +
                '                        <div class="help-block"></div>\n' +
                '                    </td>';
            html += '<td class="text-center">\n' +
                '                        <select name="hire_type[]" class="form-control hire_type" required>\n' +
                '                            <option value="1">Week</option>\n' +
                '                            <option value="2">Semester</option>\n' +
                '                            <option value="3">Staff</option>\n' +
                '                        </select>\n' +
                '                        <div class="help-block"></div>\n' +
                '                    </td>';
            html += '<td class="text-right">\n' +
                '                        <input type="text" name="price[]" value=""\n' +
                '                               placeholder="Price" class="form-control price text-right" required readonly>\n' +
                '                        <div class="help-block"></div>\n' +
                '                    </td>';
            html += '<td class="text-center">\n' +
                '                        <select name="book_status[]" class="form-control book_status" required readonly>\n' +
                '                            <option value="0">Deactivate</option>\n' +
                '                            <option value="1">Available</option>\n' +
                '                            <option value="2">Pending</option>\n' +
                '                            <option value="3">Hired</option>\n' +
                '                            <option value="4">Lost</option>\n' +
                '                            <option value="5">Maintained</option>\n' +
                '                        </select>\n' +
                '                        <div class="help-block"></div>\n' +
                '                    </td>';
            html += '<td class="text-left">\n' +
                '                        <div class="input-group date">\n' +
                '                            <input type="text"\n' +
                '                                   class="form-control pull-right datepicker due_date"\n' +
                '                                   name="due_date[]"\n' +
                '                                   id="due_date[]">\n' +
                '                        </div>\n' +
                '                        <div class="help-block"></div>\n' +
                '                    </td>';
            html += '<td class="text-left">\n' +
                '                        <button type="button" data-id="' + transaction_row + '" data-toggle="tooltip"\n' +
                '                                title="Remove" class="btn btn-danger remove"><i class="fa fa-minus-circle"></i></button>\n' +
                '                    </td>';
            html += '</tr>';

            $('#transaction tbody').append(html);

            $('.datepicker').datetimepicker({
                format: 'YYYY-MM-DD HH:mm:ss',
                defaultDate: new Date(),
            });

            $(".barcode").change(function () {
                var barcode = $(this).val();
                var dataid = $(this).attr('data-id');
                var elementBarcodeInput = $(this).parent();
                var elementRow = $(this).parent().parent();
                var hire_type = elementRow.find('.hire_type').val();
                elementBarcodeInput.find('.help-block').html('');
                elementRow.find('.title').val('');
                elementRow.find('.author').val('');
                elementRow.find('.book_status').val('');
                elementRow.find('.price').val('');
                if (barcode !== null) {
                    run_ajax_get_info_book(0, barcode, hire_type, elementRow, elementBarcodeInput, true)
                }
            });

            $(".hire_type").change(function () {
                var hire_type = $(this).val();
                var elementRow = $(this).parent().parent();
                var elementBarcodeInput = elementRow.find('.barcode').parent();
                var barcode = elementRow.find('.barcode').val();
                if (barcode !== '') {
                    run_ajax_get_info_book(0, barcode, hire_type, elementRow, elementBarcodeInput, true)
                }
            });

            $('.remove').click(function () {
                var data_id = $(this).attr('data-id');
                var elementRow = $(this).parent().parent();
                var barcode = elementRow.find('.barcode').val();
                delete transactionSession['detail'][barcode];
                $.ajax({
                    "type": "POST",
                    "dataType": "json",
                    "url": '{% url 'session.create_json' %}',
                    "data": {
                        'SessionInput': JSON.stringify([{
                            "key": "transaction",
                            "value": transactionSession
                        }]),
                    },
                    "beforeSend": function (xhr, settings) {
                        $.ajaxSettings.beforeSend(xhr, settings);
                    },
                    "success": function () {
                        $('#transaction-row' + data_id).remove();
                    }
                });
            });

            transaction_row++;
        }

        $(function () {
            $(document).ready(function () {
                for (var i = 0; i < transaction_row; i++) {
                    let elementRow = $('#transaction-row' + i);
                    let barcode = elementRow.find('.barcode').val();
                    let elementBarcodeInput = elementRow.find('.barcode').parent();
                    let hire_type = elementRow.find('.hire_type').val();
                    if (barcode !== '') {
                        run_ajax_get_info_book(i, barcode, hire_type, elementRow, elementBarcodeInput);
                    }
                }
            });

            $('.datepicker').datetimepicker({
                format: 'YYYY-MM-DD HH:mm:ss',
                defaultDate: new Date(),
            });
            $("#username").change(function () {
                let username = $(this).val();
                let element = $(this).parent();
                $.getJSON('/user/api/' + username, function (result) {
                    if (result.status === 404) {
                        element.addClass('has-error');
                        element.find('.help-block').html('Can not find this username');
                    } else {
                        element.removeClass('has-error');
                        element.find('.help-block').html('');
                        $('#firstname').val(result.data.first_name);
                        $('#lastname').val(result.data.last_name);
                        transactionSession['username'] = username;
                        $.ajax({
                            "type": "POST",
                            "dataType": "json",
                            "url": '{% url 'session.create_json' %}',
                            "data": {
                                'SessionInput': JSON.stringify([{"key": "transaction", "value": transactionSession}]),
                            },
                            "beforeSend": function (xhr, settings) {
                                $.ajaxSettings.beforeSend(xhr, settings);
                            },
                            "success": function (result) {
                            }
                        });

                    }
                });
            });

            $(".barcode").change(function () {
                let barcode = $(this).val();
                {#let data_id = $(this).attr('data-id');#}
                let elementBarcodeInput = $(this).parent();
                let elementRow = $(this).parent().parent();
                let hire_type = elementRow.find('.hire_type').val();
                elementBarcodeInput.find('.help-block').html('');
                elementRow.find('.title').val('');
                elementRow.find('.author').val('');
                elementRow.find('.book_status').val('');
                elementRow.find('.price').val('');
                if (barcode !== null) {
                    run_ajax_get_info_book(0, barcode, hire_type, elementRow, elementBarcodeInput, true)
                }
            });

            $(".hire_type").change(function () {
                let hire_type = $(this).val();
                let elementRow = $(this).parent().parent();
                let elementBarcodeInput = elementRow.find('.barcode').parent();
                let barcode = elementRow.find('.barcode').val();
                if (barcode !== '') {
                    run_ajax_get_info_book(0, barcode, hire_type, elementRow, elementBarcodeInput, true)
                }
            });

            $('.remove').click(function () {
                let data_id = $(this).attr('data-id');
                let elementRow = $(this).parent().parent();
                let barcode = elementRow.find('.barcode').val();
                delete transactionSession['detail'][barcode];
                $.ajax({
                    "type": "POST",
                    "dataType": "json",
                    "url": '{% url 'session.create_json' %}',
                    "data": {
                        'SessionInput': JSON.stringify([{
                            "key": "transaction",
                            "value": transactionSession
                        }]),
                    },
                    "beforeSend": function (xhr, settings) {
                        $.ajaxSettings.beforeSend(xhr, settings);
                    },
                    "success": function () {
                        $('#transaction-row' + data_id).remove();
                    }
                });
            });
        });
    </script>
{% endblock %}